In [2]:
import pymongo
conn = pymongo.MongoClient("mongodb://localhost:27017/") #brackets()
db=conn['mydatabase']
col=db['student']

In [2]:
value = [
    {"_id":1,"Name":"Subi","Age":"21","Married":True},
    {"_id":2,"Name":"Sam","Age":"22","Married":False},
    {"_id":3,"Name":"Shruthi","Age":"25"}
]
col.insert_many(value)

InsertManyResult([1, 2, 3], acknowledged=True)

In [7]:
var=col.find({},{})
for i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': '21', 'Married': True}
{'_id': 2, 'Name': 'Sam', 'Age': '22', 'Married': False}
{'_id': 3, 'Name': 'Shruthi', 'Age': '25'}

In [8]:
var=col.find({},{"_id":0})
for i in var:
    print(i)

{'Name': 'Subi', 'Age': '21', 'Married': True}
{'Name': 'Sam', 'Age': '22', 'Married': False}
{'Name': 'Shruthi', 'Age': '25'}

In [13]:
var=col.find({"Age":"22"},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sam', 'Age': '22', 'Married': False}

In [16]:
cond={"Age":"25"}
nv={"$set":{"Age":25}}
col.update_many(cond,nv)
var=col.find({},{})
for i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': 21, 'Married': True}
{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': 3, 'Name': 'Shruthi', 'Age': 25}

In [17]:
var=col.find({"Age":{"$gt":22}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Shruthi', 'Age': 25}

In [18]:
var=col.find({"Age":{"$gte":22}},{"_id":0})
for i in var:
    print(i)

{'Name': 'Sam', 'Age': 22, 'Married': False}
{'Name': 'Shruthi', 'Age': 25}

In [21]:
cond={"Name":"Shruthi"}
nv={"$set":{"Married":False}}
col.update_one(cond,nv)
var=col.find({},{})
for i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': 21, 'Married': True}
{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': 3, 'Name': 'Shruthi', 'Age': 25, 'Married': False}

In [24]:
var=col.find({"Age":{"$lt":23}},{}).limit(1)
for i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': 21, 'Married': True}

In [27]:
var=col.find({},{"_id":0}).sort({"Age":-1})
for i in var:
    print(i)

{'Name': 'Shruthi', 'Age': 25, 'Married': False}
{'Name': 'Sam', 'Age': 22, 'Married': False}
{'Name': 'Subi', 'Age': 21, 'Married': True}

In [30]:
var=col.find({"Age":{"$gt":21}},{"_id":0}).sort({"Age":-1})
for i in var:
    print(i)

{'Name': 'Shruthi', 'Age': 25, 'Married': False}
{'Name': 'Sam', 'Age': 22, 'Married': False}

In [ ]:
value=[
    {'Name':{'firstname':"Jakes","lastname":"Bijoy"}, 'Age': 35, 'Married': False},
    {'Name':{'firstname':"King","lastname":"Cobra"}, 'Age': 30, 'Married': True}
]
col.insert_many(value)
var=col.find({},{})
for  i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': 21, 'Married': True}
{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': 3, 'Name': 'Shruthi', 'Age': 25, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f5'), 'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 35, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f6'), 'Name': {'firstname': 'King', 'lastname': 'Cobra'}, 'Age': 30, 'Married': True}

In [34]:
var=col.find({"Name.firstname":'Jakes'},{"_id":0})
for  i in var:
    print(i)

{'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 35, 'Married': False}

In [47]:
var=col.find({"$or":[{"Name":{"$regex":"a"}},{"Name.firstname":{"$regex":"a"}}]},{})
for  i in var:
    print(i)

{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f5'), 'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 35, 'Married': False}

In [48]:
col.delete_one({"_id":3})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [49]:
var=col.find({},{})
for  i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': 21, 'Married': True}
{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f5'), 'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 35, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f6'), 'Name': {'firstname': 'King', 'lastname': 'Cobra'}, 'Age': 30, 'Married': True}

In [52]:
cond={"Name.firstname":"Jakes"}
nv={"$set":{"Age":33}}
col.update_one(cond,nv)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [55]:
var=col.find({"$and":[{"Age":{"$gte":22}},{"Age":{"$lt":35}}]},{})
for i in var:
    print(i)

{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f5'), 'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 33, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f6'), 'Name': {'firstname': 'King', 'lastname': 'Cobra'}, 'Age': 30, 'Married': True}

In [66]:
var=col.find({"Age":{"$nin":[33]}},{"Name":1,"Age":1})
for i in var:
    print(i)

{'_id': 1, 'Name': 'Subi', 'Age': 21}
{'_id': 2, 'Name': 'Sam', 'Age': 22}
{'_id': ObjectId('68405b758cf6883c1cc122f6'), 'Name': {'firstname': 'King', 'lastname': 'Cobra'}, 'Age': 30}

In [69]:
var=col.find({"$or":[{"Name":{"$regex":"m$"}},{"Age":33}]},{})
for i in var:
    print(i)

{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f5'), 'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 33, 'Married': False}

In [71]:
var=col.find({"Age":{"$in":[30,33]}},{})
for i in var:
    print(i)

{'_id': ObjectId('68405b758cf6883c1cc122f5'), 'Name': {'firstname': 'Jakes', 'lastname': 'Bijoy'}, 'Age': 33, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f6'), 'Name': {'firstname': 'King', 'lastname': 'Cobra'}, 'Age': 30, 'Married': True}

In [17]:
col1=db['students']

In [74]:
value=[
    {"Name":"John","Sub":"maths","Mark":80},
    {"Name":"John","Sub":"science","Mark":90},
    {"Name":"King","Sub":"maths","Mark":60},
    {"Name":"King","Sub":"science","Mark":90},
    {"Name":"Sam","Sub":"maths","Mark":70},
    {"Name":"Sam","Sub":"science","Mark":57}
]
col1.insert_many(value)

InsertManyResult([ObjectId('68406c958cf6883c1cc122f7'), ObjectId('68406c958cf6883c1cc122f8'), ObjectId('68406c958cf6883c1cc122f9'), ObjectId('68406c958cf6883c1cc122fa'), ObjectId('68406c958cf6883c1cc122fb'), ObjectId('68406c958cf6883c1cc122fc')], acknowledged=True)

In [75]:
val=col1.aggregate([{"$group":{
    "_id":"$Name",
    "Total Marks":{"$sum":"$Mark"}
}}])

for i in val:
    print(i)

{'_id': 'John', 'Total Marks': 170}
{'_id': 'King', 'Total Marks': 150}
{'_id': 'Sam', 'Total Marks': 127}

In [76]:
val=col1.aggregate([
    {"$group":{
        "_id":"$Name",
        "Average Mark":{"$avg":"$Mark"},
        "Highest":{"$max":"$Mark"},
        "Lowest":{"$min":"$Mark"}
    }}
])

for i in val:
    print(i)

{'_id': 'John', 'Average Mark': 85.0, 'Highest': 90, 'Lowest': 80}
{'_id': 'King', 'Average Mark': 75.0, 'Highest': 90, 'Lowest': 60}
{'_id': 'Sam', 'Average Mark': 63.5, 'Highest': 70, 'Lowest': 57}

In [26]:
val=col.find({"Mark":{"$gt":{"$avg":"Mark"}}},{})
for i in val:
    print(i)

In [86]:
val=col1.aggregate([
    {"$group":{
        "_id":"$Name",
        "Total mark":{"$sum":"$Mark"}
    }},
    {"$sort":{"Total mark":-1}},
    {"$limit":2}
])
for i in val:
    print(i)

{'_id': 'John', 'Total mark': 170}
{'_id': 'King', 'Total mark': 150}

In [83]:
val=col1.aggregate([
    {"$group":{
        "_id":"$Sub",
        "Total mark":{"$sum":"$Mark"}
    }}
])

for i in val:
    print(i)

{'_id': 'maths', 'Total mark': 210}
{'_id': 'science', 'Total mark': 237}

In [84]:
val=col1.find({},{}).sort({"Mark":-1})
for i in val:
    print(i)

{'_id': ObjectId('68406c958cf6883c1cc122f8'), 'Name': 'John', 'Sub': 'science', 'Mark': 90}
{'_id': ObjectId('68406c958cf6883c1cc122fa'), 'Name': 'King', 'Sub': 'science', 'Mark': 90}
{'_id': ObjectId('68406c958cf6883c1cc122f7'), 'Name': 'John', 'Sub': 'maths', 'Mark': 80}
{'_id': ObjectId('68406c958cf6883c1cc122fb'), 'Name': 'Sam', 'Sub': 'maths', 'Mark': 70}
{'_id': ObjectId('68406c958cf6883c1cc122f9'), 'Name': 'King', 'Sub': 'maths', 'Mark': 60}
{'_id': ObjectId('68406c958cf6883c1cc122fc'), 'Name': 'Sam', 'Sub': 'science', 'Mark': 57}

In [94]:
val=col.find({"$and":[{"Age":{"$gte":22}},{"Age":{"$lt":33}}]},{})
for i in val:
    print(i)

{'_id': 2, 'Name': 'Sam', 'Age': 22, 'Married': False}
{'_id': ObjectId('68405b758cf6883c1cc122f6'), 'Name': {'firstname': 'King', 'lastname': 'Cobra'}, 'Age': 30, 'Married': True}

In [18]:
var=col1.find({},{})
for i in var:
    print(i)

{'_id': ObjectId('68406c958cf6883c1cc122f7'), 'Name': 'John', 'Sub': 'maths', 'Mark': 80}
{'_id': ObjectId('68406c958cf6883c1cc122f8'), 'Name': 'John', 'Sub': 'science', 'Mark': 90}
{'_id': ObjectId('68406c958cf6883c1cc122f9'), 'Name': 'King', 'Sub': 'maths', 'Mark': 60}
{'_id': ObjectId('68406c958cf6883c1cc122fa'), 'Name': 'King', 'Sub': 'science', 'Mark': 90}
{'_id': ObjectId('68406c958cf6883c1cc122fb'), 'Name': 'Sam', 'Sub': 'maths', 'Mark': 70}
{'_id': ObjectId('68406c958cf6883c1cc122fc'), 'Name': 'Sam', 'Sub': 'science', 'Mark': 57}

In [14]:
val=col.find({},{})
for i in val:
    print(i['Name']['firstname'] if isinstance(i['Name'],dict) else i['Name'])

Subi
Sam
Jakes
King

In [29]:
val=col1.aggregate([
    {"$group":{
        "_id":"$Name",
        "totalmark":{"$sum":"$Mark"},
        "Sub":{"$sum":1}
    }}
])
for i in val:
    print(i)

{'_id': 'John', 'totalmark': 170, 'Sub': 2}
{'_id': 'Sam', 'totalmark': 127, 'Sub': 2}
{'_id': 'King', 'totalmark': 150, 'Sub': 2}