In [6]:
import pymongo

conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn["mydb"]
col=db["student"]

In [3]:
val= [
    {"Name":"Subi Suresh","Age":22,"course":"MCA"},
    {"Name":"Sam","Age":21,"course":"BCA"},
    {"Name":"DK","Age":20},
    {"Name":"Misy","Age":22,"course":"MCA"},
      ]
col.insert_many(val)

InsertManyResult([ObjectId('682de8add43aa21cef265e2e'), ObjectId('682de8add43aa21cef265e2f'), ObjectId('682de8add43aa21cef265e30'), ObjectId('682de8add43aa21cef265e31')], acknowledged=True)

In [7]:
val = col.find()
for i in val:
    print(i)

{'_id': ObjectId('682de8add43aa21cef265e2e'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682de8add43aa21cef265e2f'), 'Name': 'Sam', 'Age': 21, 'course': 'BCA'}
{'_id': ObjectId('682de8add43aa21cef265e30'), 'Name': 'DK', 'Age': 20}
{'_id': ObjectId('682de8add43aa21cef265e31'), 'Name': 'Misy', 'Age': 22, 'course': 'MCA'}

In [5]:
val = col.find({},{"_id":0,"course":0})
for i in val:
    print(i)

{'Name': 'Subi Suresh', 'Age': 22}
{'Name': 'Sam', 'Age': 21}
{'Name': 'DK', 'Age': 20}
{'Name': 'Misy', 'Age': 22}

In [8]:
val = col.find({"Age":22},{"_id":0,"Name":1}).limit(1)
for i in val:
    print(i)

{'Name': 'Subi Suresh'}

In [12]:
val = col.find({},{"_id":0}).sort({"Age":-1})
for i in val:
    print(i)

{'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'Name': 'Misy', 'Age': 22, 'course': 'MCA'}
{'Name': 'Sam', 'Age': 21, 'course': 'BCA'}
{'Name': 'DK', 'Age': 20}

In [16]:
val = col.find({"Age":{"$gte":21}}).sort({"Name":1})
for i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c9'), 'Name': 'Misy', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c7'), 'Name': 'Sam', 'Age': 21, 'course': 'BCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c6'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}

In [17]:
val = col.find({"$or":[{"Age":22},{"course":"BCA"}]},{"_id":0})
for i in val:
    print(i)

{'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'Name': 'Sam', 'Age': 21, 'course': 'BCA'}
{'Name': 'Misy', 'Age': 22, 'course': 'MCA'}

In [18]:
col.insert_one({"Name":"chikku","Age":21,"course":"BBA"})

InsertOneResult(ObjectId('682b7d84eefc488dacd3c8ca'), acknowledged=True)

In [22]:
val=col.find({"$and":[{"Age":{"$gt":20}},{"Age":{"$lt":22}}]},{"_id":0})
for i in val:
    print(i)

{'Name': 'Sam', 'Age': 21, 'course': 'BCA'}
{'Name': 'chikku', 'Age': 21, 'course': 'BBA'}

In [26]:
val=col.find()
for i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c6'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c7'), 'Name': 'Sam', 'Age': 21, 'course': 'BCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c8'), 'Name': 'DK', 'Age': 20}
{'_id': ObjectId('682b7207eefc488dacd3c8c9'), 'Name': 'Misy', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7d84eefc488dacd3c8ca'), 'Name': 'chikku', 'Age': 21, 'course': 'BBA'}

In [28]:
cond={"Age":20}
new_value={"$set":{"course":"Mcom"}}
col.update_one(cond,new_value)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [33]:
val=col.find()
for i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c6'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c8'), 'Name': 'DK', 'Age': 20, 'course': 'Mcom'}
{'_id': ObjectId('682b7207eefc488dacd3c8c9'), 'Name': 'Misy', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7d84eefc488dacd3c8ca'), 'Name': 'chikku', 'Age': 21, 'course': 'BBA'}

In [30]:
cond={"Name":"Sam"}
nv={"$set":{"course":"MCA"}}
col.update_many(cond,nv)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [32]:
col.delete_one({"Age":21})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [35]:
val=col.find({"Age":{"$gt":20},"Age":{"$lt":22}},{"_id":0})
for i in val:
    print(i)

{'Name': 'DK', 'Age': 20, 'course': 'Mcom'}
{'Name': 'chikku', 'Age': 21, 'course': 'BBA'}

In [36]:
col.insert_one({"Name":{"fname":"Jobin","lname":"bose"},"Age":25,"course":"BCA"})

InsertOneResult(ObjectId('682b83f7eefc488dacd3c8cb'), acknowledged=True)

In [45]:
val=col.find()
for i in val:
    print("Name \t"+i['Name'])

Name 	Subi Suresh
Name 	DK
Name 	Misy
Name 	chikku

In [55]:
val=col.find({"Name":{"$regex":"^S.*h$"}})
for i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c6'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}

In [57]:
val = col.find({"$or":[{"course":"MCA"},{"course":"BCA"}]})
for i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c6'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c9'), 'Name': 'Misy', 'Age': 22, 'course': 'MCA'}

In [60]:
val= col.find({"course":{"$nin":["BCA","MCA"]},"Name":"DK"})
for i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c8'), 'Name': 'DK', 'Age': 20, 'course': 'Mcom'}

In [44]:
col.delete_one({"Name.fname":"Jobin"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [43]:
val=col.find()
for  i in val:
    print(i)

{'_id': ObjectId('682b7207eefc488dacd3c8c6'), 'Name': 'Subi Suresh', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7207eefc488dacd3c8c8'), 'Name': 'DK', 'Age': 20, 'course': 'Mcom'}
{'_id': ObjectId('682b7207eefc488dacd3c8c9'), 'Name': 'Misy', 'Age': 22, 'course': 'MCA'}
{'_id': ObjectId('682b7d84eefc488dacd3c8ca'), 'Name': 'chikku', 'Age': 21, 'course': 'BBA'}
{'_id': ObjectId('682b83f7eefc488dacd3c8cb'), 'Name': {'fname': 'Jobin', 'lname': 'bose'}, 'Age': 25, 'course': 'BCA'}