In [28]:
import pymongo

conn = pymongo.MongoClient("mongodb://localhost:27017/")

db=conn["mydatabase"]
col=db["student"]

value=[
    {"Name":"Subi","Age":21,"Married":True},
    {"Name":"SOORYA","Age":30,"Married":True,"_id":1},
    {"Name":"Subi","course":"MCA"}
        ]
# col.insert_many(value)

var=col.find({},{"Name":1,"_id":0})
for i in var: 
    print(i)

{'Name': 'Sandra'}
{'Name': 'Devi'}
{'Name': 'Nazrin'}

In [29]:
col.find()

In [30]:
var=col.find({},{"Name":1})
for i in var:
    print(i)

{'_id': ObjectId('67e229b6e641b0de7ee95b26'), 'Name': 'Sandra'}
{'_id': ObjectId('67e229b6e641b0de7ee95b27'), 'Name': 'Devi'}
{'_id': ObjectId('67e229b6e641b0de7ee95b28'), 'Name': 'Nazrin'}

In [31]:
var=col.find({"Name":"SOORYA"},{"Name":1,"Married":1})
for i in var:
    print(i)

In [32]:
var = col.find({"Name":"Subi","Age":21},{})
for i in var:
    print(i)

In [33]:
var = col.find({"Name":"Subi","Age":21},{"Name":1,"Married":1,"_id":0})
for i in var:
    print(i)

In [64]:
var = col.find({"Age":21},{"Name":1,"Married":1,"_id":0}).limit(1)
for i in var:
    print(i)

{'Name': 'Sandra'}

In [35]:
var = col.find({},{"Name":1,"Age":1,"_id":0}).sort({"Age":-1})
for i in var:
    print(i)

{'Name': 'Devi', 'Age': 23}
{'Name': 'Sandra', 'Age': 21}
{'Name': 'Nazrin', 'Age': 21}

In [36]:
var =  col.find({},{"Name":1,"_id":0})
for i in var:
    print(i)

{'Name': 'Sandra'}
{'Name': 'Devi'}
{'Name': 'Nazrin'}

In [37]:
value = [
    {"Name":"Sandra", "Age":21, "Place": "Ernakulam" },
    {"Name":"Devi", "Age":23, "Place": "Malappuram" },
    {"Name":"Nazrin", "Age":21, "Place": "Kottayam" }
]

col.insert_many(value)

InsertManyResult([ObjectId('67e232f3e641b0de7ee95b2a'), ObjectId('67e232f3e641b0de7ee95b2b'), ObjectId('67e232f3e641b0de7ee95b2c')], acknowledged=True)

In [38]:
var =col.find({"Age":21})
for i in var:
    print(i)

{'_id': ObjectId('67e229b6e641b0de7ee95b26'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Kollam'}
{'_id': ObjectId('67e229b6e641b0de7ee95b28'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2a'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Ernakulam'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2c'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Kottayam'}

In [39]:
#age greater than 22
var =col.find({"Age":{"$gt":21}},{"Name":1,"_id":0}) 
for i in var:
    print(i)

{'Name': 'Devi'}
{'Name': 'Devi'}

In [40]:
var= col.find({"Age":21,"Place":"Kottayam"},{"Name":1, "_id":0})
for i in var:
    print(i)

{'Name': 'Nazrin'}

In [41]:
#age greater than or equal 22
var =col.find({"Age":{"$gte":21}},{"Name":1,"_id":0}) 
for i in var:
    print(i)

{'Name': 'Sandra'}
{'Name': 'Devi'}
{'Name': 'Nazrin'}
{'Name': 'Sandra'}
{'Name': 'Devi'}
{'Name': 'Nazrin'}

In [42]:
var= col.find({"$or":[{"Age":21},{"Place":"Kottayam"}]},{"Name":1, "_id":0})
for i in var:
    print(i)

{'Name': 'Sandra'}
{'Name': 'Nazrin'}
{'Name': 'Sandra'}
{'Name': 'Nazrin'}

In [43]:
cond = {"Age":21}
newvalue={"$set":{"Place":"Alappuzha"}}
col.update_many(cond,newvalue)

UpdateResult({'n': 4, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [44]:
var = col.find()
for i in var:
    print(i)

{'_id': ObjectId('67e229b6e641b0de7ee95b26'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e229b6e641b0de7ee95b27'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}
{'_id': ObjectId('67e229b6e641b0de7ee95b28'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2a'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2b'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2c'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}

In [45]:
cond = {"Age":21}
newvalue={"$set":{"Place":"Kollam"}}
col.update_one(cond,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [46]:
col.delete_many({"Age":23})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [47]:
var = col.find()
for i in var:
    print(i)

{'_id': ObjectId('67e229b6e641b0de7ee95b26'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Kollam'}
{'_id': ObjectId('67e229b6e641b0de7ee95b28'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2a'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2c'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}

In [49]:
col.delete_one({"Age":21})
var = col.find()
for i in var:
    print(i)

{'_id': ObjectId('67e232f3e641b0de7ee95b2a'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2c'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}

In [52]:
value = {"Name":"Devi", "Age":23, "Place": "Malappuram" }
col.insert_one(value)

InsertOneResult(ObjectId('67e233fce641b0de7ee95b2d'), acknowledged=True)

In [55]:
val = col.find({"Age":{"$gt":20}},{"_id":0})
for i in val:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}

In [ ]:
#name starting with S
val = col.find({"Name":{"$regex":"^S"}},{"_id":0})
for i in val:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}

In [61]:
#name ends with i
val = col.find({"Name":{"$regex":"i$"}},{"_id":0})
for i in val:
    print(i)

{'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}

In [65]:
val = col.find({"Name":{"$regex":"^D.*i$"}},{"_id":0})
for i in val:
    print(i)

{'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}

In [67]:
val = col.find({"$or":[{"Age":21},{"Age":23}]},{"_id":0})
for i in val:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}

In [69]:
col.insert_one({"Name":"tintu","Age":25,"Place":"Kottayam"})
val=col.find()
for i in val:
    print(i)

{'_id': ObjectId('67e232f3e641b0de7ee95b2a'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2c'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e233fce641b0de7ee95b2d'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}
{'_id': ObjectId('67e23a18e641b0de7ee95b2e'), 'Name': 'tintu', 'Age': 25, 'Place': 'Kottayam'}
{'_id': ObjectId('67e23a4fe641b0de7ee95b2f'), 'Name': 'tintu', 'Age': 25, 'Place': 'Kottayam'}

In [72]:
col.delete_one({"Name":'tintu'})
val=col.find()
for i in val:
    print(i)

{'_id': ObjectId('67e232f3e641b0de7ee95b2a'), 'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e232f3e641b0de7ee95b2c'), 'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'_id': ObjectId('67e233fce641b0de7ee95b2d'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}
{'_id': ObjectId('67e23a4fe641b0de7ee95b2f'), 'Name': 'tintu', 'Age': 25, 'Place': 'Kottayam'}

In [73]:
val = col.find({"$or":[{"Age":21},{"Age":25}]},{"_id":0})
for i in val:
    print(i)

{'Name': 'Sandra', 'Age': 21, 'Place': 'Alappuzha'}
{'Name': 'Nazrin', 'Age': 21, 'Place': 'Alappuzha'}
{'Name': 'tintu', 'Age': 25, 'Place': 'Kottayam'}

In [75]:
val = col.find({"$and":[{"Age":{"$gt":21}},{"Age":{"$lt":25}}]})
for i in val:
    print(i)

{'_id': ObjectId('67e233fce641b0de7ee95b2d'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malappuram'}