In [ ]:
import pymongo
conn= pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
col2=db["student_tbl"]
col2.insert_one({"Firstname":"Subi","Lastname":"Suresh","Gender":"M","Course":"MCA","Place":"Alappuzha","Mark":80,"Grade":"B+"})

In [3]:
values =[
    {"Firstname":"Kajel","Lastname":"Aggarwal","Gender":"F","Course":"Mech","Place":"KTM","Mark":95,"Grade":"A+"},
    {"Firstname":"Roy","Lastname":"Mathew","Gender":"M","Course":"MCA","Place":"TVM","Mark":35,"Grade":"D"},
    {"Firstname":"Kunju","Lastname":"Vava","Gender":"M","Course":"Mech","Place":"MLM","Mark":70,"Grade":"B"},
    {"Firstname":"Adhi","Lastname":"Lal","Gender":"M","Course":"Mech","Place":"KLM","Mark":81,"Grade":"B+"},
    {"Firstname":"Anu","Lastname":"Mathew","Gender":"F","Course":"MCA","Place":"TVM","Mark":95,"Grade":"A+"},
]
col2.insert_many(values)

InsertManyResult([ObjectId('67e2490c0b6d8ffdb6644343'), ObjectId('67e2490c0b6d8ffdb6644344'), ObjectId('67e2490c0b6d8ffdb6644345'), ObjectId('67e2490c0b6d8ffdb6644346'), ObjectId('67e2490c0b6d8ffdb6644347')], acknowledged=True)

In [6]:
var = col2.find({"Gender":"F"},{"_id":0,"Firstname":1,"Lastname":1,"Mark":1})
for i in var:
    print(i)

{'Firstname': 'Kajel', 'Lastname': 'Aggarwal', 'Mark': 95}
{'Firstname': 'Anu', 'Lastname': 'Mathew', 'Mark': 95}

<h2>Details of student with higest mark</h2>

In [14]:
maxmark=col2.find({"Course":"MCA"},{"Mark":1,"_id":0}).sort({"Mark":-1})[0]["Mark"]
var = col2.find({"Mark":maxmark,"Course":"MCA"},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Anu', 'Lastname': 'Mathew', 'Gender': 'F', 'Course': 'MCA', 'Place': 'TVM', 'Mark': 95, 'Grade': 'A+'}

In [15]:
col2.insert_one( {"Firstname":"Pokkiri","Lastname":"Selvam","Gender":"M","Course":"Mech","Place":"PLKD","Mark":92,"Grade":"A+"})

InsertOneResult(ObjectId('67e2778e1c94f5b074956178'), acknowledged=True)

In [16]:
var = col2.find({"Gender":"M","Grade":"A+"},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Pokkiri', 'Lastname': 'Selvam', 'Gender': 'M', 'Course': 'Mech', 'Place': 'PLKD', 'Mark': 92, 'Grade': 'A+'}

In [17]:
var = col2.find({"Course":"Mech"},{"_id":0}).sort({"Mark":-1}).limit(5)
for i in var:
    print(i)

{'Firstname': 'Kajel', 'Lastname': 'Aggarwal', 'Gender': 'F', 'Course': 'Mech', 'Place': 'KTM', 'Mark': 95, 'Grade': 'A+'}
{'Firstname': 'Pokkiri', 'Lastname': 'Selvam', 'Gender': 'M', 'Course': 'Mech', 'Place': 'PLKD', 'Mark': 92, 'Grade': 'A+'}
{'Firstname': 'Adhi', 'Lastname': 'Lal', 'Gender': 'M', 'Course': 'Mech', 'Place': 'KLM', 'Mark': 81, 'Grade': 'B+'}
{'Firstname': 'Kunju', 'Lastname': 'Vava', 'Gender': 'M', 'Course': 'Mech', 'Place': 'MLM', 'Mark': 70, 'Grade': 'B'}

In [22]:
var = col2.find({"Gender":"F","Mark":{"$gt":90}},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Kajel', 'Lastname': 'Aggarwal', 'Gender': 'F', 'Course': 'Mech', 'Place': 'KTM', 'Mark': 95, 'Grade': 'A+'}
{'Firstname': 'Anu', 'Lastname': 'Mathew', 'Gender': 'F', 'Course': 'MCA', 'Place': 'TVM', 'Mark': 95, 'Grade': 'A+'}

In [21]:
var = col2.find({"Mark":{"$gte":80,"$lte":90}},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Subi', 'Lastname': 'Suresh', 'Gender': 'M', 'Course': 'MCA', 'Place': 'Alappuzha', 'Mark': 80, 'Grade': 'B+'}
{'Firstname': 'Adhi', 'Lastname': 'Lal', 'Gender': 'M', 'Course': 'Mech', 'Place': 'KLM', 'Mark': 81, 'Grade': 'B+'}

In [25]:
var = col2.find({"Firstname":{"$regex":"^S"}},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Subi', 'Lastname': 'Suresh', 'Gender': 'M', 'Course': 'MCA', 'Place': 'Alappuzha', 'Mark': 80, 'Grade': 'B+'}

In [26]:
var = col2.find({"Place":"KLM"},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Adhi', 'Lastname': 'Lal', 'Gender': 'M', 'Course': 'Mech', 'Place': 'KLM', 'Mark': 81, 'Grade': 'B+'}

In [27]:
var = col2.find({"$or":[{"Place":"MLM"},{"Place":"TVM"}]},{"_id":0})
for i in var:
    print(i)

{'Firstname': 'Roy', 'Lastname': 'Mathew', 'Gender': 'M', 'Course': 'MCA', 'Place': 'TVM', 'Mark': 35, 'Grade': 'D'}
{'Firstname': 'Kunju', 'Lastname': 'Vava', 'Gender': 'M', 'Course': 'Mech', 'Place': 'MLM', 'Mark': 70, 'Grade': 'B'}
{'Firstname': 'Anu', 'Lastname': 'Mathew', 'Gender': 'F', 'Course': 'MCA', 'Place': 'TVM', 'Mark': 95, 'Grade': 'A+'}