In [2]:
import pymongo
conn= pymongo.MongoClient("mongodb://localhost:27017/")
db = conn["mydatabase"]
col2=db["student_tbl"]
col2.insert_one({"Firstname":"Subi","Lastname":"Suresh","Gender":"M","Course":"MCA","Place":"Alappuzha","Mark":80,"Grade":"B+"})

InsertOneResult(ObjectId('67e2468b0b6d8ffdb6644342'), acknowledged=True)

In [3]:
values =[
    {"Firstname":"Kajel","Lastname":"Aggarwal","Gender":"F","Course":"Mech","Place":"KTM","Mark":95,"Grade":"A+"},
    {"Firstname":"Roy","Lastname":"Mathew","Gender":"M","Course":"MCA","Place":"TVM","Mark":35,"Grade":"D"},
    {"Firstname":"Kunju","Lastname":"Vava","Gender":"M","Course":"Mech","Place":"MLM","Mark":70,"Grade":"B"},
    {"Firstname":"Adhi","Lastname":"Lal","Gender":"M","Course":"Mech","Place":"KLM","Mark":81,"Grade":"B+"},
    {"Firstname":"Anu","Lastname":"Mathew","Gender":"F","Course":"MCA","Place":"TVM","Mark":95,"Grade":"A+"},
]
col2.insert_many(values)

InsertManyResult([ObjectId('67e2490c0b6d8ffdb6644343'), ObjectId('67e2490c0b6d8ffdb6644344'), ObjectId('67e2490c0b6d8ffdb6644345'), ObjectId('67e2490c0b6d8ffdb6644346'), ObjectId('67e2490c0b6d8ffdb6644347')], acknowledged=True)

In [6]:
var = col2.find({"Gender":"F"},{"_id":0,"Firstname":1,"Lastname":1,"Mark":1})
for i in var:
    print(i)

{'Firstname': 'Kajel', 'Lastname': 'Aggarwal', 'Mark': 95}
{'Firstname': 'Anu', 'Lastname': 'Mathew', 'Mark': 95}

In [ ]:
var = col2.find({""})
for i in var:
    print(i)

TypeError: '>' not supported between instances of 'dict' and 'dict'